h3 {
    text-align: left;
    margin-bottom: 90px;
}

.search-lable {
    font-size: small;
}

.archive {
    color: red;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #136a13;
    color: #fff;
    box-sizing: border-box;
    position: fixed;
}

.image {
    text-align: left;
}

.description {
    text-align: left;
}

.creator {
    text-align: right;
    color: rgb(117, 124, 124);
}

